<!-- page content -->
<% if(current_user.isBrand){ %>
  <div class="nav navbar-right panel_toolbox">
    <button type="button" href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#brandProduct-add-modal">Add Product</button>
  </div>
  <div class="modal fade" id="brandProduct-add-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add Product</h4>
        </div>
        <div class="modal-body">
          <form data-parsley-validate class="form-horizontal form-label-left" action="/products/add" method="post">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Title <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="title" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Barcode <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="barcode" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">ean <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="ean" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">website <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="website" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">youtube <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="youtube" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">image <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="image" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">video <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="video" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
<% } %>
<div class="right_col" role="main">
  <div class="">
    <div class="x_panel">
                <div class="x_title">
                  <h2> Scanvid Products </h2>

                  <div class="clearfix"></div>
                </div>
                <div class="x_content">


                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <!-- <li role="presentation" class=""><a href="#tab_content1" id="overview-tab" role="tab" data-toggle="tab" aria-expanded="true">Overview</a>
                      </li> -->
                      <li role="presentation" class="active"><a href="#tab_content2" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">All Products</a>
                      </li>
                      <% if(!current_user.isBrand){%>
                      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">UNKnown Records</a>
                      </li>
                      <%}%>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="home-tab">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="x_panel">
                              <div class="x_content">
                                <!-- start project list --><div class="pull-right"><input type="text" placeholder="search" class="searchBar"><button class="searchButton">Search Table</button></div>
                                <table id="knownProducts" class="table table-striped projects" cellspacing="0" width="100%" >
                                  <thead>
                                    <tr>
                                      <th>_id</th>
                                      <th>barcode</th>
                                      <th>title</th>
                                      <th>brand</th>
                                      <th>name</th>
                                      <th>ean</th>
                                      <th>category1</th>
                                    </tr>
                                  </thead>
                                </table>
                                <div class="pull-right">
                                  <button class="previousPage">Previous Page</button>
                                  <button class="nextPage">Next Page</button>
                                  <h5 id="pages"></h5>
                                </div>
                                <!-- end project list -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="x_panel">
                              <div class="x_content">

                                <!-- start project list --><div class="pull-right"><input type="text" placeholder="search" class="searchBar2"><button class="searchButton2">Search Table</button></div>
                                <table id="unknownProducts" class="table table-striped projects" cellspacing="0" width="100%">
                                  <thead>
                                    <tr>
                                      <th>_id</th>
                                      <th>barcode</th>
                                      <th>title</th>
                                      <th>brand</th>
                                      <th>name</th>
                                      <th>ean</th>
                                      <th>category1</th>
                                    </tr>
                                  </thead>
                                </table>
                                <!-- end project list -->
                                <div class="pull-right">
                                    <button class="previousPage2">Previous Page</button>
                                    <button class="nextPage2">Next Page</button>
                                    <h5 id="pages2"></h5>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
  </div>
</div>

<div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
		<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
			    <h3 style="margin:0;">
			        Messages
			    </h3>
			</div>
			<div class="modal-body">
				<div class="progress progress-striped active" style="margin-bottom:0;">
				    <div class="progress-bar progress-bar-success" style="width: 100%">
				    </div>
				</div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){

  var pagesCounter=1;

    jQuery.support.cors = true;

    $.ajax(
    {
        type: "GET",
        url:  '/api/getAll',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        beforeSend:function(){
          $('#myModal').modal("show");
           $('.modal-header h3').html('Processing...')
        },
        success: function (data) {

          pagesCounter++;
        var trHTML = '';
        console.log(data.page);
        $("#pages").html("Page # "+data.page+" out of "+data.pages+" Pages");


        $.each(data.docs, function (i, item) {

            trHTML += '<tr><td>' + item.id + '</td><td><a href="/products/view/' + item.barcode + '">' + item.barcode + '</a></td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
        });

        $('#knownProducts').append(trHTML);
          $('#myModal').modal("hide");

        },

        error: function (msg) {

            alert(msg.responseText);
        }
    });
    //next page logic
    $(".nextPage").on("click",function(){
        $.ajax(
        {
            type: "GET",
            url:  '/api/getAll',
            data:'page='+pagesCounter,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend:function(){
              $('#myModal').modal("show");
               $('.modal-header h3').html('Processing...')
            },
            success: function (data) {
              pagesCounter++;
            var trHTML = '';
            console.log(data.page);
            $("#pages").html("Page # "+data.page+" out of "+data.pages+" Pages");

              $("#knownProducts").find("tr:gt(0)").remove();
            $.each(data.docs, function (i, item) {

              if(item.title){
                trHTML += '<tr><td>' + item.id + '</td><td><a href="/products/view/' + item.barcode + '">' + item.barcode + '</a></td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
              }else{
                trHTML += '<tr><td></td><td></td><td></td><td>' + item.brand + '</td><td>' + item.name + '</td><td>' + item.ean + '</td><td>' + item.category1 + '</td></tr>';
              }
            });

            $('#knownProducts').append(trHTML);
            $('#myModal').modal("hide");

            },

            error: function (msg) {

                alert(msg.responseText);
            }
        });
    })

    //prev pages
    $(".previousPage").on("click",function(){
      pagesCounter=pagesCounter-2;
        $.ajax(
        {
            type: "GET",
            url:  '/api/getAll',
            data:'page='+pagesCounter,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend:function(){
              $('#myModal').modal("show");
               $('.modal-header h3').html('Processing...')
            },
            success: function (data) {
              pagesCounter++;
            var trHTML = '';
            console.log(data.page);
            $("#pages").html("Page # "+data.page+" out of "+data.pages+" Pages");

          $("#knownProducts").find("tr:gt(0)").remove();

            $.each(data.docs, function (i, item) {

              if(item.title){
                trHTML += '<tr><td>' + item.id + '</td><td><a href="/products/view/' + item.barcode + '">' + item.barcode + '</a></td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
              }else{
                trHTML += '<tr><td></td><td></td><td></td><td>' + item.brand + '</td><td>' + item.name + '</td><td>' + item.ean + '</td><td>' + item.category1 + '</td></tr>';
              }
            });

            $('#knownProducts').append(trHTML);
            $('#myModal').modal("hide");

            },

            error: function (msg) {

                alert(msg.responseText);
            }
        });
    })
    //Search Table
    $(".searchButton").on("click",function(){
      var query=$(".searchBar").val();
        $.ajax(
        {
            type: "GET",
            url:  '/api/dbSearch',
            data:'q='+query,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend:function(){
              $('#myModal').modal("show");
               $('.modal-header h3').html('Processing...')
            },
            success: function (data) {
              pagesCounter++;
            var trHTML = '';
            console.log(data.page);
            $("#pages").html("search results");

          $("#knownProducts").find("tr:gt(0)").remove();

            $.each(data, function (i, item) {
                if(item.title){
                  trHTML += '<tr><td>' + item.id + '</td><td><a href="/products/view/' + item.barcode + '">' + item.barcode + '</a></td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
                }else{
                  trHTML += '<tr><td></td><td></td><td></td><td>' + item.brand + '</td><td>' + item.name + '</td><td>' + item.ean + '</td><td>' + item.category1 + '</td></tr>';
                }
            });

            $('#knownProducts').append(trHTML);
            $('#myModal').modal("hide");

            },

            error: function (msg) {

                alert(msg.responseText);
            }
        });
    })


})

</script>
<script>
$(document).ready(function(){
  var pagesCounter2=1;

    jQuery.support.cors = true;

    $.ajax(
    {
        type: "GET",
        url:  '/api/getAll',
        data:'type=unknown',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        beforeSend:function(){
          $('#myModal').modal("show");
           $('.modal-header h3').html('Processing...')
        },
        success: function (data) {
          pagesCounter2++;
        var trHTML = '';
        console.log(data.page);
        $("#pages2").html("Page # "+data.page+" out of "+data.pages+" Pages");


        $.each(data.docs, function (i, item) {

            trHTML += '<tr><td>' + item.id + '</td><td><a href="/products/view/' + item.barcode + '">' + item.barcode + '</a></td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
        });

        $('#unknownProducts').append(trHTML);
        $('#myModal').modal("hide");

        },

        error: function (msg) {

            alert(msg.responseText);
        }
    });
    //next page logic
    $(".nextPage2").on("click",function(){
        $.ajax(
        {
            type: "GET",
            url:  '/api/getAll',
            data:'type=unknown&page='+pagesCounter2,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend:function(){
              $('#myModal').modal("show");
               $('.modal-header h3').html('Processing...')
            },
            success: function (data) {
              pagesCounter2++;
            var trHTML = '';
            console.log(data.page);
            $("#pages2").html("Page # "+data.page+" out of "+data.pages+" Pages");

              $("#unknownProducts").find("tr:gt(0)").remove();
            $.each(data.docs, function (i, item) {

              if(item.title){
                trHTML += '<tr><td>' + item.id + '</td><td><a href="/products/view/' + item.barcode + '">' + item.barcode + '</a></td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
              }else{
                trHTML += '<tr><td></td><td></td><td></td><td>' + item.brand + '</td><td>' + item.name + '</td><td>' + item.ean + '</td><td>' + item.category1 + '</td></tr>';
              }
            });

            $('#unknownProducts').append(trHTML);
            $('#myModal').modal("hide");

            },

            error: function (msg) {

                alert(msg.responseText);
            }
        });
    })

    //prev pages
    $(".previousPage2").on("click",function(){
      pagesCounter2=pagesCounter2-2;
        $.ajax(
        {
            type: "GET",
            url:  '/api/getAll',
            data:'type=unknown&page='+pagesCounter2,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend:function(){
              $('#myModal').modal("show");
               $('.modal-header h3').html('Processing...')
            },
            success: function (data) {
              pagesCounter2++;
            var trHTML = '';
            console.log(data.page);
            $("#pages2").html("Page # "+data.page+" out of "+data.pages+" Pages");

          $("#unknownProducts").find("tr:gt(0)").remove();

            $.each(data.docs, function (i, item) {

              if(item.title){
                trHTML += '<tr><td>' + item.id + '</td><td><a href="/products/view/' + item.barcode + '">' + item.barcode + '</a></td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
              }else{
                trHTML += '<tr><td></td><td></td><td></td><td>' + item.brand + '</td><td>' + item.name + '</td><td>' + item.ean + '</td><td>' + item.category1 + '</td></tr>';
              }
            });

            $('#unknownProducts').append(trHTML);
            $('#myModal').modal("hide");

            },

            error: function (msg) {

                alert(msg.responseText);
            }
        });
    })
    //Search Table
    $(".searchButton2").on("click",function(){
      var query=$(".searchBar2").val();
        $.ajax(
        {
            type: "GET",
            url:  '/api/dbSearch',
            data:'type=unknown&q='+query,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend:function(){
              $('#myModal').modal("show");
               $('.modal-header h3').html('Processing...')
            },
            success: function (data) {
              pagesCounter2++;
            var trHTML = '';
            console.log(data.page);
            $("#pages2").html("search results");

          $("#unknownProducts").find("tr:gt(0)").remove();

            $.each(data, function (i, item) {
                if(item.title){
                  trHTML += '<tr><td>' + item.id + '</td><td><a href="/products/view/' + item.barcode + '">' + item.barcode + '</a></td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
                }else{
                  trHTML += '<tr><td></td><td></td><td></td><td>' + item.brand + '</td><td>' + item.name + '</td><td>' + item.ean + '</td><td>' + item.category1 + '</td></tr>';
                }
            });

            $('#unknownProducts').append(trHTML);
            $('#myModal').modal("hide");

            },

            error: function (msg) {

                alert(msg.responseText);
            }
        });
    })


})

</script>
<!-- /page content -->
