<html>

<head>
</head>

<body>
  <form action='api/users/59a7dabc6ed92d5e614cff89' method="post">
    <input name='username' type="text">
    <input name='password' type="text">
    <input name='full_name' type="text">
    <input name='email' type="text">
    <input name='phone' type="text">
    <input name='type' type="text">
    <input name='prospects' type="text">
    <input name='products' type="text">
    <input type="submit" value="Sumit">
  </form>
</body>

</html>
