<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <% if (!current_user.isBrand) { %>
  <div class="menu_section">
    <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="/"><i class="fa fa-home"></i> Home </a></li>
        <li><a href="/products"><i class="fa fa-cloud"></i> Products </a></li>
        <li><a href="/users"><i class="fa fa-male"></i> Users </a></li>
        <li><a href="/brands"><i class="fa fa-dollar"></i> Brands </a></li>
      </ul>
  </div>
  <% } else { %>
    <ul class="nav side-menu">
      <li><a href="/brands/view/<%= current_user.brandName %>"><i class="fa fa-home"></i> Home </a></li>
      <li><a href="/products"><i class="fa fa-cloud"></i> Products </a></li>
    <ul>
  <% } %>
</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Settings">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Lock">
    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </a>
</div>
<!-- /menu footer buttons -->
