<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test Datatables</title>

      <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
      <script
  src="https://code.jquery.com/jquery-1.10.2.min.js"
  integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
  crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" > </script>
  </head>
  <body>
    <input type="text" placeholder="search" class="searchBar"><button class="searchButton">Search Table</button>
    <table id="myTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>_id</th>
                    <th>barcode</th>
                    <th>title</th>
                    <th>brand</th>
                    <th>name</th>
                    <th>ean</th>
                    <th>category1</th>

                </tr>
            </thead>
            <tfoot>
              <tr>
                  <th>_id</th>
                  <th>barcode</th>
                  <th>title</th>
                  <th>brand</th>
                  <th>name</th>
                  <th>ean</th>
                  <th>category1</th>

              </tr>
        </tfoot>

        </table>

        <button class="nextPage">Next Page</button>
          <button class="previousPage">Previous Page</button>
          <h3 id="pages"></h3>
<script>
    // $(document).ready(function() {
    //     $('#myTable').DataTable( {
    //         "processing": true,
    //         "serverSide": true,
    //         "hideEmptyCols": ['_id'],
    //       //  "hideEmptyCols": true,
    //         "buttons": [ 'columnsToggle' ],
    //         "ajax": {
    //                 "url": "/index/api/dbTest",
    //                 "type": "POST",
    //                 "datatype": "json"
    //             },
    //       "columns" : [
    //                     { "data": "_id", "autoWidth": true,"searchable":false,"visible":false,"hideIfEmpty":true },
    //                     { "data": "barcode", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
    //                     { "data": "title", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
    //                     { "data": "brand", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
    //                     { "data": "name", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
    //                     { "data": "ean", "autoWidth": true,"searchable":false,"hideIfEmpty":true },
    //                     { "data": "category1", "autoWidth": true,"searchable":false,"hideIfEmpty":true },
    //                 ]
    //
    //     } );
    //     $.fn.dataTable.ext.errMode = 'none';
    //
    // } );

//     $(document).ready(function() {
//     // Setup - add a text input to each footer cell
//     $('#myTable tfoot th').each( function () {
//         var title = $(this).text();
//         $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
//     } );
//
//     // DataTable
//     var table = $('#myTable').DataTable();
//
//     // Apply the search
//     table.columns().every( function () {
//         var that = this;
//
//         $( 'input', this.footer() ).on( 'keyup change', function () {
//             if ( that.search() !== this.value ) {
//                 that
//                     .search( this.value )
//                     .draw();
//             }
//         } );
//     } );
// } );



$(document).ready(function(){
  var pagesCounter=1;

    jQuery.support.cors = true;

    $.ajax(
    {
        type: "GET",
        url:  '/index/api/dbTest',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
          pagesCounter++;
        var trHTML = '';
        console.log(data.page);
        $("#pages").html("Page # "+data.page+" out of "+data.pages+" Pages");


        $.each(data.docs, function (i, item) {

            trHTML += '<tr><td>' + item.id + '</td><td>' + item.barcode + '</td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
        });

        $('#myTable').append(trHTML);

        },

        error: function (msg) {

            alert(msg.responseText);
        }
    });
    //next page logic
    $(".nextPage").on("click",function(){
        $.ajax(
        {
            type: "GET",
            url:  '/index/api/dbTest',
            data:'page='+pagesCounter,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
              pagesCounter++;
            var trHTML = '';
            console.log(data.page);
            $("#pages").html("Page # "+data.page+" out of "+data.pages+" Pages");

              $("#myTable").find("tr:gt(0)").remove();
            $.each(data.docs, function (i, item) {

              if(item.title){
                trHTML += '<tr><td>' + item.id + '</td><td>' + item.barcode + '</td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
              }else{
                trHTML += '<tr><td></td><td></td><td></td><td>' + item.brand + '</td><td>' + item.name + '</td><td>' + item.ean + '</td><td>' + item.category1 + '</td></tr>';
              }
            });

            $('#myTable').append(trHTML);

            },

            error: function (msg) {

                alert(msg.responseText);
            }
        });
    })

    //prev pages
    $(".previousPage").on("click",function(){
      pagesCounter=pagesCounter-2;
        $.ajax(
        {
            type: "GET",
            url:  '/index/api/dbTest',
            data:'page='+pagesCounter,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
              pagesCounter++;
            var trHTML = '';
            console.log(data.page);
            $("#pages").html("Page # "+data.page+" out of "+data.pages+" Pages");

          $("#myTable").find("tr:gt(0)").remove();

            $.each(data.docs, function (i, item) {

              if(item.title){
                trHTML += '<tr><td>' + item.id + '</td><td>' + item.barcode + '</td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
              }else{
                trHTML += '<tr><td></td><td></td><td></td><td>' + item.brand + '</td><td>' + item.name + '</td><td>' + item.ean + '</td><td>' + item.category1 + '</td></tr>';
              }
            });

            $('#myTable').append(trHTML);

            },

            error: function (msg) {

                alert(msg.responseText);
            }
        });
    })
    //Search Table
    $(".searchButton").on("click",function(){
      var query=$(".searchBar").val();
        $.ajax(
        {
            type: "GET",
            url:  '/index/api/dbSearch',
            data:'q='+query,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
              pagesCounter++;
            var trHTML = '';
            console.log(data.page);
            $("#pages").html("search results");

          $("#myTable").find("tr:gt(0)").remove();

            $.each(data, function (i, item) {
                if(item.title){
                  trHTML += '<tr><td>' + item.id + '</td><td>' + item.barcode + '</td><td>' + item.title + '</td><td>' + item.brand + '</td></tr>';
                }else{
                  trHTML += '<tr><td></td><td></td><td></td><td>' + item.brand + '</td><td>' + item.name + '</td><td>' + item.ean + '</td><td>' + item.category1 + '</td></tr>';
                }
            });

            $('#myTable').append(trHTML);

            },

            error: function (msg) {

                alert(msg.responseText);
            }
        });
    })


})


</script>
  </body>
</html>
